html {
  font-size: 16px;
}
@media (max-width: 769px) {
  html {
    font-size: 12px;
  }
}
body {
  margin: 0;
  font-family: "Titillium Web", sans-serif !important;
}
* {
  box-sizing: border-box;
}
canvas {
  min-width: 100%;
  min-height: 100% !important;
}
